PORT=3456
DB_PATH=./data/todo.db

# 카카오톡 나에게 보내기 (선택 기능)
# 1) https://developers.kakao.com 에서 앱 생성 후 REST API 키를 여기에
# 2) `node get-kakao-token.js` 실행하면 KAKAO_REFRESH_TOKEN이 자동 저장됨
KAKAO_REST_API_KEY=
KAKAO_REFRESH_TOKEN=
